TODO.txt
.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
tmp/
service/node_modules/
web/node_modules/
scripts/infrastructure/.terraform/
scripts/infrastructure/kubernetes/.terraform/
scripts/infrastructure/docker/.terraform/
scripts/infrastructure/kubernetes/terraform.tfstate.backup
scripts/infrastructure/kubernetes/terraform.tfstate
scripts/infrastructure/docker/terraform.tfstate.backup
scripts/infrastructure/docker/terraform.tfstate
